body {
  font-family: sans-serif;
  text-align: center;

}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


img {
  border-radius: 12px;
}

.all-products-view {
  display: flex;
  flex-wrap: wrap;
}

.all-products-thumbnails {
  width: 180px;
  height: 120px;
  margin-bottom: 0;
}

.all-products-tile {
  padding: 30px 30px;
}

.confirmation-image {
  max-width: 500px;
}

.inventory-table {
  max-height: 800px;
 
}

.inventory-admin-access.MuiTable-root {
   width:80%;
   margin: 0 auto
}
#inventory-form-admin {
  margin-top:20px;
  margin-bottom: 20px
}

#inventory-form-admin label{
  display:inline;
  margin-right:10px;
}
#inventory-form-admin input {
  margin-right:20px;
}