body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  font-family: var(--sans);
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  border-radius: 12px;
}

.all-products-view {
  display: flex;
  flex-wrap: wrap;
}

.all-products-thumbnails {
  width: 180px;
  height: 120px;
  margin-bottom: 0;
}

.all-products-tile {
  padding: 30px 30px;
}

.confirmation-image {
  max-width: 500px;
}

.login {
    width: 250px;
  background-color: #bf7aff; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

:root {
  --sans: "Bree Serif", serif;
}

.pretty-font {
  font-family: var(--sans)
}

.purple {
  color: #bf7aff;
}

.nav-area-color {
  color: rgb(174, 87, 0)
}

.black {
  color: black
}