body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  font-family: var(--sans);
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  border-radius: 12px;
}

.cart-image {
  width: 100px;
  height: 100px;
}

.all-products-view {
  display: flex;
  flex-wrap: wrap;
}

.all-products-thumbnails {
  width: 180px;
  height: 120px;
  margin-bottom: 0;
}

.all-products-tile {
  padding: 30px 30px;
}

.confirmation-image {
  max-width: 500px;
}

.login {
  width: 250px;
  background-color: #bf7aff; /* Purple */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  /* originally had this: margin: 4px 2px; */
  cursor: pointer;
  /* Michelle added: */
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00000063;
  transition: all 200ms ease-in-out;
}

/* Michelle added: */
.login:hover {
  border: solid 1px #bf7aff;
  background-color: #fff;
  color: #bf7aff;
}

:root {
  --sans: "Bree Serif", serif;
}

.pretty-font {
  font-family: var(--sans);
}

.purple {
  color: #bf7aff;
}

.nav-area-color {
  color: rgb(174, 87, 0);
}

.black {
  color: black;
}

.inventory-table {
  max-height: 800px;
}

.inventory-admin-access.MuiTable-root {
  width: 80%;
  margin: 0 auto;
}
#inventory-form-admin {
  margin-top: 20px;
  margin-bottom: 20px;
}

#inventory-form-admin label {
  display: inline;
  margin-right: 10px;
}
#inventory-form-admin input {
  margin-right: 20px;
}

.product-buttons {
  border-radius: 10px;
  padding: 5px 15px;
  background-color: #3db101;
  color: #fff;
  border: solid 1px #fff;
  box-shadow: 5px 5px 5px #00000063;
  transition: all 200ms ease-in-out;
}

.product-buttons:hover {
  cursor: pointer;
  border: solid 1px #3db101;
  color: #3db101;
  background-color: #fff;
}

.cart-buttons {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #3db101;
  border: solid 1px #3db101;
  box-shadow: 5px 5px 5px #00000063;
  transition: all 200ms ease-in-out;
}

.cart-buttons:hover {
  cursor: pointer;
  border: solid 1px #fff;
  color: #fff;
  background-color: #3db101;
}
